.kaufman {
    max-width: 1600px;
    padding: 90px 0;
    display: flex;
    position: relative;
    flex-flow: column wrap;
    background-color: #1f1f1f;
    z-index: 0;
    overflow: hidden;
    align-items:center;
    margin: 0 auto;
  }