.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

div {
  border:2px solid blue;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  background-color: #f2f2f2;
  z-index: -1;
  border: #a7a7a7 2px solid;
  box-sizing:border-box;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  display: block;
  height: 32px;
  width: 183px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  display: block;
  flex-wrap:wrap;
  z-index: 1;
  margin-left: 64px;
}
.header__subtitle {
  width: 388px;
  line-height: 25px;
  display: block;
  margin-bottom: 30px;
  margin-left: 64px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  font-style: normal;
  flex-wrap:wrap;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
width: 765px;
height: 608px;
display: block; 
position: absolute;
bottom: 0;
right: 0; 
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -1;
}

.content {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  border: #a7a7a7 2px solid;
  box-sizing:border-box;
}

.description {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  width: 100%;
  border: #a7a7a7 2px solid;
  box-sizing:border-box;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-direction:row;
}

.two-columns__brief {
   width: 175px; 
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  display: block;
}
 
.two-column__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.two-columns__paragraph {
  display: block;
    margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.digits {
margin: 0;
display: flex;
justify-content: center;
margin: 100px auto;
flex-direction: column;
align-items: center;
border: #a7a7a7 2px solid;
box-sizing:border-box;
}

.section-title {
width: 60%;
text-align: center;
line-height: 1.15;
font-size: 60px;
font-weight: bold;
}

.section-subtitle {
width: 60%;
text-align: center;
line-height: 34px;
font-size: 24px;
font-weight: normal;
}

.table {
width: 1100px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.table__cell {
width: 250px;
margin-top: 60px;
}

.table__heading {
 line-height; 1.15;
 font-weight: bold;
 font-size: 24px;
}

.table__text {
line-height; 1.2;
font-size: 18px;
font-weight: normal;
}

.feynman {
  display: flex;
  position:relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  background: #f2f2f2 url("../images/feynman.png") no-repeat left bottom;
  border: #a7a7a7 2px solid;
  box-sizing:border-box;
}

 .feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 100px auto 0;
}

.feynman__subtitle {
margin-top: 70px;
line-height: 51px;
font-size: 36px;
font-weight: normal;

}

.feynman__link {
  display: block;
  position:absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman {
  padding: 90px 0;
  display: flex;
  position: relative;
  flex-flow: column wrap;
  background-color: #1f1f1f;
  z-index: -1;
  overflow: hidden;
  align-items:center;
  border: #a7a7a7 2px solid;
  box-sizing:border-box;
}

.table_theme_dark {
width: 1100px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0 auto;

}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  display: flex;
  flex-flow: column wrap;
  justify-content: baseline;
}

.section-title_theme_dark {
  width: 60%;
  color: #fff;
  margin: 0;
  text-align: center;
  display: block;
  line-height; 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_theme_dark {
width: 60%;
color: #fff;
margin: 20px 0 0 0;
text-align: center;
line-height; 34px;
font-size: 24px;
font-weight: normal;
}

.table__heading_theme_dark {
  line-height; 1.15;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 20px 0;
}

.table__text_theme_dark {
  line-height; 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  margin: 0;

}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  display: block;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  background-color: #1f1f1f;
  width: 90%;
  padding-bottom: 40px;
  padding-top: 60px;
  min-height: 350px;
  color: white;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}