.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: block;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  background-color: #f2f2f2;
}

.logo_place_header {
  display: block;
  height: 32px;
  width: 183px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  margin: 0 0 0 64px;
  padding: 0;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}
.header__subtitle {
  width: 388px;
  line-height: 25px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-style: normal;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  z-index: 2;
  text-decoration: none;
}

.header__main-illustration {
width: 765px;
height: 608px;
display: block;
position: absolute;
bottom: 0;
right: 0;
z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.content {
  min-width: 1100px;
  max-width: 1600px;
}

.description {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  width: 100%;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items:flex-start;
  }

.two-columns__brief {
   width: 175px;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  display: block;
  margin: 0;
  padding: 0;
}
 
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.two-columns__paragraph {
  display: block;
    margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.digits {
display: flex;
justify-content: center;
margin: 100px auto;
flex-direction: column;
align-items: center;
}

.section-title {
width: 60%;
text-align: center;
line-height: 1.15;
font-size: 60px;
font-weight: bold;
margin:0;
padding: 0;
}

.section-subtitle {
width: 60%;
margin: 20px 0 0 0;
text-align: center;
line-height: 34px;
font-size: 24px;
font-weight: normal;
}

.table {
width: 1100px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0;
padding: 0;
list-style-type: none;
}

.table__cell {
width: 250px;
margin-top: 60px;
}

.table__heading {
 line-height: 1.15;
 font-weight: bold;
 font-size: 24px;
 margin: 0;
 padding: 0;
}

.table__text {
line-height: 1.2;
font-size: 18px;
font-weight: normal;
margin: 20px 0 0 0;
}

.feynman {
  display: flex;
  position:relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 890px;
  background: #f2f2f2 url("../images/feynman.png") no-repeat left bottom;
  background-size: 867px 637px;
  margin: 0 auto;
  padding: 100px 0 0 0;
}

 .feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.feynman__subtitle {
margin-top: 70px;
line-height: 51px;
font-size: 36px;
font-weight: normal;

}

.feynman__link {
  display: block;
  position:absolute;
  right: 48px;
  text-decoration: none;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman {
  max-width: 1600px;
  padding: 90px 0;
  display: flex;
  position: relative;
  flex-flow: column wrap;
  background-color: #1f1f1f;
  z-index: -2;
  overflow: hidden;
  align-items:center;
  margin: 0 auto;
}

.table_theme_dark {
width: 1100px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0 auto;
}

.section-title_theme_dark {
  width: 60%;
  color: #fff;
  margin: 0;
  text-align: center;
  display: block;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_theme_dark {
width: 60%;
color: #fff;
margin: 20px 0 0 0;
text-align: center;
line-height: 34px;
font-size: 24px;
font-weight: normal;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  display: flex;
  flex-flow: column wrap;
  align-items:baseline;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 20px 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  margin: 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  display: block;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: contain;
}

.footer {
  background-color: #1f1f1f;
  box-sizing: border-box;
  max-width: 1600px;
  padding-bottom: 40px;
  padding-top: 60px;
  min-height: 350px;
  color: white;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  position: relative;
}

.footer__columns{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column_content_copyright {
display: flex;
flex-basis: 711px;
flex-flow: column wrap;
justify-content: space-between;

}

.footer__column_content_info {
display: flex;
position: relative;
align-items:flex-start;
flex-flow: column wrap;
justify-content: flex-start;
}

.footer__column_content_social {
  display: flex;
  position: relative;
  align-items:flex-start;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  display: block;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  display: block;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.footer__column-links {
margin: 20px 0 16px 0;
display: flex;
justify-content:space-between;
flex-flow: column wrap;
padding: 0;
list-style-type: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  display: block;
  text-decoration: none;
  color: white;
  list-style-type: none;
  padding: 0;
}

.footer__social-icon {
width: 16px;
height: 16px;
margin-right: 10px;
}